
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        Name
    </thead>
</table>

<script type="text/javascript" src="~/Scripts/Views/Index/Index.js" ></script>

@*<script type="application/javascript" runat = "server">

   <include =Index.js />
 </script>*@

@*<object type="text/javascript" data="Index.js"></object>*@
