hello/packages/
hello/hello/obj/
hello/hello/bin/roslyn/csc.exe.config
hello/hello/bin/
WhatsYourName3/
BaseFirst/packages/
BaseFirst/BaseFirst/bin/
BaseFirst/BaseFirst/obj/Debug/
BaseFirst/BaseFirst/Models/
BaseFirst1/packages/
BaseFirst1/BaseFirst/obj/Debug/
BaseFirst1/BaseFirst/App_Data/
