
@{
    ViewBag.Title = "Dalete";
}

<h2>Delete</h2>
@*to niby dziala*@

@using (Html.BeginForm("dalete", "home", FormMethod.Post))
{ 
    
    <label for="id">Id to delete</label>
    <input type="text" name="Id" id="id" value="@Model" />

    <p><input type="submit" value="delete" /></p>
}
 