@model IEnumerable<BaseFirst.Contact>


<h2>Editor</h2>


<div>
    @foreach (BaseFirst.Contact item in this.Model)
    {
        <p>Name</p>
        <p>@Html.TextBoxFor(a => item.NAme)</p>
        <p>LastName</p>
        <p>@Html.TextBoxFor(a => item.LastNAme)</p>
        
    }
    
   
</div>
<div>
    @using (Html.BeginForm("addName" , "HomeController"))
    {
       
        @Html.EditorFor(m => m)

        <p><input type="submit" value="send" /></p>
        
        
    }
</div>
